---
import type { HTMLAttributes } from 'astro/types'
import { type BadgeVariantProps, badge } from '../../variants/badge'

interface Props extends HTMLAttributes<'div'>, BadgeVariantProps {}

const { variant, class: className, ...restProps } = Astro.props
---

<div
  {...restProps}
  class={badge({ variant, className })}
  data-part="badge-root"
>
	<slot />
</div>
