---
import { TabItem, Tabs } from '@astrojs/starlight/components'
import type { HTMLAttributes } from 'astro/types'

// https://github.com/withastro/roadmap/discussions/827

interface Props extends HTMLAttributes<'div'> {}

const { class: className } = Astro.props
---

<Tabs>
  <TabItem label="Preview">
    <div
      class:list={[className, "not-content ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 relative rounded-md border p-10 flex flex-wrap gap-4"]}
    >
      <slot name="preview" />
    </div>
  </TabItem>
  <TabItem label="Code">
    <slot />
  </TabItem>
</Tabs>
