---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'dialog'> {}

const { class: className, ...restProps } = Astro.props
---

<dialog
  class='du-modal fixed inset-0 z-50 bg-black/80 open:animate-in open:fade-in-0 open:zoom-in-95'
  role="dialog"
  data-part="dialog-content"
>
  <div
    {...restProps}
    class:list={["du-modal-box fixed left-1/2 top-1/2 z-50 grid w-full max-w-lg -translate-x-1/2 -translate-y-1/2 border bg-background p-6 shadow-lg sm:rounded-lg", className]}
  >
    <slot />
  </div>
</dialog>
