---
import { scope } from 'simple:scope'
import type { HTMLAttributes } from 'astro/types'
import render from 'dom-serializer'
import { DomUtils, parseDocument } from 'htmlparser2'
import useId from '../../utils/useId'

interface Props extends HTMLAttributes<'div'> {
	multiple?: boolean
}

const { multiple, class: className, ...restProps } = Astro.props

let childHtml = ''
if (!multiple) {
	childHtml = await Astro.slots.render('default')
	const childDoc = parseDocument(childHtml.trim())
	const itemName = useId(scope())
	for (const n of DomUtils.findAll((node) => node.tagName === 'details', childDoc)) {
		n.attribs.name = itemName
	}
	childHtml = render(childDoc)
}
---

<div
  {...restProps}
  class={className}
  data-part="accordion-root"
>
  {multiple ? <slot /> : <Fragment set:html={childHtml} />}
</div>
