---
import type { HTMLAttributes } from 'astro/types'
import { accordion } from '../../variants'

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...restProps } = Astro.props
---

<div
  {...restProps}
  class={accordion().panel()}
  data-part="accordion-panel"
  role="region"
>
  <div class:list={["pt-0 pb-2 text-muted-foreground", className]}>
    <slot />
  </div>
</div>
